# General ignores
output*
test_old/*
build/*

# Compilation artefacts
*.pyc
*.o
*.a*
*.d
lofar_udp_extractor
lofar_udp_guppi_raw
cmake-*
.idea/*
build*/*

# Templated files
src/lib/lofar_udp_general.h
src/CLI/lofar_cli_meta.h


# mkdocs
site/**
